.row .cell:nth-of-type(3) {
    grid-column: 4;
}

.row .cell:nth-of-type(4) {
    grid-column: 3;
}

.row .cell:nth-of-type(5) {
    grid-column: 2;
}

.row .cell:nth-of-type(6) {
    grid-column: 4;
}

.row .cell:nth-of-type(7) {
    grid-column: 2;
}

.row .cell:nth-of-type(8) {
    grid-column: 4;
}

.row .cell:nth-of-type(9) {
    grid-column: 5;
    grid-row: 4;
}